<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricord</title>
    {% load static %}
   <link rel="stylesheet" href="{% static 'entrance/css/entrance_style.css' %}" >
</head>
<body>
    <div class="login-container">
        <h2>Добро пожаловать!</h2>
        <form>
            <label for="email">Email или номер телефона</label>
            <input type="text" id="email" required>

            <label for="password">Пароль</label>
            <input type="password" id="password" required>

            <button type="submit">Войти</button>
            <a href="#" class="forgot-password">Забыли пароль?</a>
        </form>
        <p>Нужна учетная запись? <a href="#">Зарегистрироваться</a></p>
    </div>
</body>
</html>
