
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Сброс пароля</h2>
        <p>Введите ваш email, и мы отправим вам инструкцию по сбросу пароля.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>
        <p><a href="{% url 'login' %}">Вернуться ко входу</a></p>
    </div>
</body>
</html>