
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Письмо отправлено</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Письмо отправлено</h2>
        <p>Если указанный email зарегистрирован, вы получите письмо с инструкцией по сбросу пароля.</p>
        <p><a href="{% url 'login' %}">Вернуться ко входу</a></p>
    </div>
</body>
</html>