body {
    font-family: Arial, sans-serif;
    background-color: #2a0134;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: linear-gradient(135deg, #5d690f, #9d4edd);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}

input {
    background-color: #3c096c;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 4px;
    margin-top: 5px;
}

button {
    background-color: #7b2cbf;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #9d4edd;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #c77dff;
}

.forgot-password:hover {
    text-decoration: underline;
}
